// Font
$mainFont                : 'Roboto Condensed', sans-serif;

// Size
$mainFontColor           : #ebebeb;
$mainFontSize            : 25px;
$secondaryFontSize       : 14px;
$navFontSize             : 12px;
$mainFontWeight          : 400;
$mainLineHeight          : 20px;

$desktopWidth            : 1170px;
$smDesktopWidth          : 992px;
$tableWidth              : 750px;
$phoneWidth              : 320px;

// Main color
$default-color           : #ebebeb;
$white                   : #fff;

// $primary-color           : #444ce0;
// $success-color           : #26de81;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;
// $light-color             : #999999;
// $purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #000;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;